[Unit]
Description=Automount iscsi directories
After=network.target iscsi.service

[Service]
ExecStart=<PATH TO SCRITP>
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
