[Unit]
Description=Automount iscsi directories
After=network.target iscsi.service

[Service]
ExecStart=<PATH_TO_MOUNT_ISCSI_SH>

[Install]
WantedBy=multi-user.target
