[Unit]
Description=Automount iscsi directories
After=network.target iscsi.service

[Service]
ExecStart=login_iscsi

[Install]
WantedBy=multi-user.target
